.mainProductCadeia_Fornecedor{
    position: relative;
    display: block;
    width: 90%;
    /* max-width: 1000px; */
    /* background-color: pink; */
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.navCadeiaLogistica_Fornecedor {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 4px;
    color: white;
}

.btnCadeiaLogisticaDetail_Fornecedor {
    position: relative;
    display: inline-block;
    height: 100%;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: rgb(54, 132, 106); */
    cursor: pointer;
    border: none;
}

.btnCadeiaLogisticaDetail_Fornecedor:first-child {
    border-bottom: 3px solid rgb(219, 219, 219);
}

.btnCadeiaLogisticaDetail_Fornecedor:hover {
    border-bottom: 2px solid rgba(148, 148, 148, 0.6) !important;
}

.btnCadeiaLogisticaDetail_Fornecedor span {
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    color: white;
}

.geralBlock_Fornecedor {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    color: white;
    /* background-color: aquamarine; */
}

.cardGeralBlock_Fornecedor {
    position: relative;
    display: inline-block;
    height: 110px;
    width: 110px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid var(--secondaryColorConsumidor);
    /* background-color: red; */
    margin-right: 10px;
    color: white;
}

.cardGeralBlock_Fornecedor:last-child {
    margin-right: 0px;
    color: white;
}

.cardGeralBlock_Fornecedor h6 {
    font-size: 11px;
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin-bottom: 3px;
    color: white;
}

.cardGeralBlock_Fornecedor h5 {
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    color: white;
}

.nivelSustainabilityProductValue_Fornecedor {
    margin-bottom: 0px;
}

.productLeafSVG_Fornecedor {
    height: fit-content;
    width: 100%;
    text-align: center;
    /* background-color: blueviolet; */
    margin-top: 0;
    color: white;
}

.productLeafSVG_Fornecedor svg {
    position: relative;
    display: inline-block;
    top: 0;
    height: 15px;
}

.producaoBlock_Fornecedor {
    position: relative;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    color: white;
    /* background-color: rgb(255, 255, 255); */
}

.blockNivelDetails_Fornecedor {
    position: relative;
    display: block;
    height: fit-content;
    width: 100%;
    /* background-color: rgb(223, 154, 165); */
    margin-bottom: 15px;
    color: white;
}

.blockNivelDetails_Fornecedor h6 {
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 0px;
    color: white;
}

.numberNivelDetails_Fornecedor {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.iconNivelDetails_Fornecedor svg {
    position: relative;
    top: -3px;
    margin-left: 3px;
    height: 14px;
    fill: rgb(247, 247, 247);
}

.productLeafSVGDetails_Fornecedor {
    height: fit-content;
    width: fit-content;
    /* text-align: center; */
    /* background-color: blueviolet; */
    margin-top: -5px;
    /* background-color: aquamarine; */
    color: white;
}

.productLeafSVGDetails_Fornecedor svg {
    position: relative;
    display: inline-block;
    /* top: 0; */
    height: 20px;
}

.localizacaoProducao_Fornecedor {
    position: relative;
    display: block;
    height: 20px;
    width: 100%;
    color: white;
    /* background-color: pink; */
}

.localizacaoProducao_Fornecedor i {
    position: relative;
    display: inline-block;
    line-height: 20px;
    font-size: 12px;
    color: rgb(238, 103, 103);
    /*PARA FICAR*/
}

.localizacaoProducao_Fornecedor h6 {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: white;
}

.producaoBlock_Fornecedor h4 {
    position: relative;
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    /* background-color: rgb(34, 167, 200); */
    margin-bottom: 20px;
    color: white;
}

.producaoBtnTable_Fornecedor {
    position: relative;
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-top: 13px;
    width: fit-content;
    height: fit-content;
    /* background-color: rgb(34, 167, 200); */
    cursor: pointer;
    color: white;
}

.producaoBtnTable_Fornecedor i{
    position: relative !important;
    display: inline-block !important;
    top: 0 !important;
    font-size: 12px !important;
}

.producaoBtnTable_Fornecedor span {
    position: relative;
    top: -1px;
    font-size: 8px;
    font-weight: 400;
    color: white;
}

.producaoBlockTable_Fornecedor {
    position: relative;
    display: none;
    width: fit-content;
    height: fit-content;
    color: white;
}

.producaoTable_Fornecedor {
    border-spacing: 2px 5px;
    border-collapse: separate;
    color: white;
}

.producaoTable_Fornecedor th,
.producaoTable_Fornecedor td {
    padding: 5px 10px 5px;
    /* background-color: greenyellow; */
    font-size: 12px;
    color: white;
}

.producaoTable_Fornecedor tr:nth-child(2n + 1) {
    background-color: rgba(243, 243, 243, 0.3);
}

.producaoTable_Fornecedor tr:nth-child(2n) {
    background-color: rgba(214, 214, 214, 0.2);
}

.producaoTable_Fornecedor td:nth-child(n+2) {
    /* background-color: yellow; */
    text-align: center;
}

.armazenamentoBlock_Fornecedor {
    position: relative;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    color: white;
    /* background-color: aquamarine; */
}

.topicoBlockTable_Fornecedor {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    color: white;
}

.topicoTable_Fornecedor {
    border-spacing: 2px 5px;
    border-collapse: separate;
    color: white;
}

.topicoTable_Fornecedor th,
.topicoTable_Fornecedor td {
    padding: 5px 10px 5px;
    font-size: 12px;
    color: white;
}

.topicoTable_Fornecedor tr:nth-child(2n + 1) {
    background-color: rgba(243, 243, 243, 0.3);
}

.topicoTable_Fornecedor tr:nth-child(2n) {
    background-color: rgba(214, 214, 214, 0.2);
}

.topicoTable_Fornecedor td {
    /* background-color: yellow; */
    text-align: center;
}

.transporteBlock_Fornecedor {
    position: relative;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    color: white;
    /* background-color: aquamarine; */
}