.authChangePageButton{
    padding: 7px 14px;
    /* min-width: 120px; */
    font-size: 18px;
    background-color: rgb(198, 89, 26);
    font-weight: 400;
    /* text-transform: uppercase; */
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 30px;
}