.mainProducts {
  position: absolute;
  top: 0;
  float: right;
  right: 0;
  height: 100%;
  width: calc(100% - var(--widthNav));
  background-color: var(--mainColor);
  /* overflow-x: auto; */
  /* padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px; */
}

.topBlockProducts {
  position: relative;
  display: block;
  width: 100%;
  height: fit-content;
  padding-top: 18px;
  padding-bottom: 15px;
  text-align: center;
  align-items: center;
  background-color: var(--secondaryColor);
  border-radius: 0px 0px 12px 12px;
}

.productCardDiv {
  margin-top: 2%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* Para ser só 1 linha */
  /* max-height: 200px; */
  overflow-y: hidden;
  /* ------------------- */
  row-gap: 20px;
  width: 100%;
  height: fit-content;
  /* background-color: rgb(99, 85, 38); */
}

/*
.addProduct {
  margin-top: 2%;
  margin-left: 80%;
  display: block;
  padding: 3px 10px;
  min-width: 50px;
  font-size: 12px;
  background-color: rgba(71, 65, 65, 0.3);
  font-weight: 400;
  border-radius: 120px;
  border: none;
  overflow: hidden;
  color: white;
}

.addProduct:hover {
  background-color: rgba(71, 65, 65, 0.5);
}
*/

.addForms {
  position: relative;
  display: flex;
}

.addForms > div {
  flex: 5;
}

.addProductDiv {
  position: absolute;
  display: none;
  float: left;
  width: calc(100% - 50px);
  max-width: 350px;
  height: fit-content;
  border-radius: 8px;
  background-color: #292929;
  border: 1px solid rgb(61, 61, 61);
  padding-top: 20px;
}

.addProducaoDiv {
  position: absolute;
  display: none;
  float: left;
  left: 10%;
  width: calc(100% - 50px);
  max-width: 350px;
  height: fit-content;
  border-radius: 8px;
  background-color: #292929;
  border: 1px solid rgb(61, 61, 61);
  padding-top: 20px;
}

.addLocalProducaoDiv {
  position: absolute;
  display: none;
  float: left;
  right: 10%;
  top: 6%;
  width: calc(100% - 50px);
  max-width: 350px;
  height: fit-content;
  border-radius: 8px;
  background-color: #292929;
  border: 1px solid rgb(61, 61, 61);
  padding-top: 20px;
}

.addProdutoInput {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
  height: 35px;
  padding-left: 10px;
  border: 1px solid rgb(61, 61, 61);
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 14px;
  background-color: #212121;
  color: rgb(123, 123, 123);
}

.addProducaoInput {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
  height: 35px;
  padding-left: 10px;
  border: 1px solid rgb(61, 61, 61);
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 14px;
  background-color: #212121;
  color: rgb(123, 123, 123);
}

.addLocalInput {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
  height: 35px;
  padding-left: 10px;
  border: 1px solid rgb(61, 61, 61);
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 14px;
  background-color: #212121;
  color: rgb(123, 123, 123);
}

.addProdutoP {
  position: relative;
  display: block;
  text-align: left;
  margin-left: 25px;
  margin-bottom: 5px;
}

.removeProductDiv {
  display: none;
  position: fixed;
  background-color: var(--secondaryColor);
  border: 1px solid rgb(61, 61, 61);
  width: 30%;
  height: 200px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.removeProductDivOptionYes {
  border-radius: 10px;
  margin-left: 20%;
  text-align: center;
  display: block;
  background: rgb(46, 132, 0);
  border: 1px solid rgb(61, 61, 61);
  height: 50px;
  width: 60%;
  margin-bottom: 5px;
}

.removeProductDivOptionNo {
  margin-top: 5px;
  margin-left: 20%;
  border-radius: 10px;
  display: block;
  background: red;
  border: 1px solid rgb(61, 61, 61);
  height: 50px;
  width: 60%;
}

.removeProductQuestion {
  font-size: 15px;
}

.optionColor{
  color: rgb(121, 121, 121);
}

.photo_from_user {
  height: 30px;
  width: 140px;
  position: relative;
  transform: translateX(-15%);
  /* border: 1px solid rgb(61, 61, 61); */
  /* border-radius: 10px; */
  /* background-color: #212121; */
}

/* input[type="file"] {
  background-color: #212121;
} */

.productInfo{
  color: green;
}

.productInfoError{
  color: red;
}