.mainSpecificProductPage{
    position: absolute;
    top: 0;
    float: right;
    right: 0;
    height: 100%;
    width: calc(100% - var(--widthNav));
    background-color: var(--mainColor);
    /* overflow-x: auto; */
    /* padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px; */
}

.topBlockSpecificProductPage{
    position: relative;
    display: block;
    width: 100%;
    height: fit-content;
    padding-top: 18px;
    padding-bottom: 15px;
    text-align: center;
    align-items: center;
    background-color: var(--secondaryColor);
    border-radius: 0px 0px 12px 12px;
}

.specificProductsDiv{
    background-color: var(--mainColor);
    height: fit-content;
    margin-top: 65px;
    width: 100%;
}

.mainSpecificProductBigDiv{
    position: relative;
    height: fit-content;
    width: 530px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 10%);
}

.addSpecificProductFormDiv{
  position: relative;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 50px);
  max-width: 350px;
  height: fit-content;
  border-radius: 8px;
  background-color: #292929;
  border: 1px solid rgb(61, 61, 61);
  padding-top: 20px;
  bottom: 20px;
}

.addSpecificProdutoInput{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px);
    height: 35px;
    padding-left: 10px;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
    background-color: #212121;
}

.addSpecificProdutoP{
    position: relative;
    display: block;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 5px;
}

.addSpecificProductFormFDiv{
    margin-top: 60px;
    display: block;
    position: relative;
}